################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/repos/FileContentIndex
/.vs/repos/v17
arquivosCSV/fluxo2010.csv
__pycache__/filterData.cpython-312.pyc
arquivosCSV/prouni/prouni2011.csv
arquivosCSV/prouni/prouni2012.csv
arquivosCSV/prouni/prouni2013.csv
arquivosCSV/prouni/prouni2014.csv
arquivosCSV/fluxo/fluxo2014.csv
arquivosCSV/fluxo/fluxo2013.csv
arquivosCSV/fluxo/fluxo2012.csv
arquivosCSV/fluxo/fluxo2011.csv
arquivosCSV/fluxo/fluxo2015.csv
