################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/repos/FileContentIndex
/.vs/repos/v17
arquivosCSV/fluxo2010.csv
__pycache__/filterData.cpython-312.pyc
arquivosCSV/fluxo2011.csv
arquivosCSV/fluxo2012.csv
arquivosCSV/fluxo2013.xlsx
arquivosCSV/fluxo2014.csv
arquivosCSV/fluxo2013.csv
arquivosCSV/fluxo2014.xlsx
arquivosCSV/prouni2010.csv
arquivosCSV/prouni2011.csv
arquivosCSV/prouni2012.csv
arquivosCSV/prouni2013.csv
arquivosCSV/prouni2014.csv
